* {
    margin: 0;
    padding: 0;
    font-family: tahoma, arial, sans-serif, 'luccida grande';
}

a {
    text-decoration: none;
    color: #696969;
}

a:hover,
a:hover p {
    color: #adad90;
}

p {
    font-size: 18px;
}

.container {
    width: 1200px;
    margin: auto;
}


/* Menu*/

.menu {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.menu ul li {
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
}

.menu img {
    margin-bottom: 0px 15px -20px;
}

.menu img:hover {
    opacity: 0;
}


/* Slice*/

.slice {
    margin-top: 30px;
    position: relative;
}

.slice .left {
    width: 400px;
    position: absolute;
    left: 75px;
    top: 210px;
}

.slice .left h2 {
    font-size: 80px;
    color: #464646;
}

.left p {
    margin-top: 20px;
}

.btn {
    padding: 15px 55px;
    background-color: #758dba;
    border-radius: 30px;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    margin-top: 20px;
}

.btn:hover {
    background-color: #745858;
}

.slice .right {
    position: absolute;
    bottom: 100px;
    right: 90px;
}

.hidden {
    background-color: transparent;
    color: #fff;
    margin-right: 30px;
    border: none;
    font-size: 40px;
    cursor: pointer;
}

.hidden:hover {
    color: wheat;
}


/* Banner*/

.banner {
    margin-top: 20px;
}

.bannerLeft {
    width: 690px;
    height: 590px;
    margin-right: 20px;
    float: left;
    background-size: cover;
    position: relative;
}

.bannerRight {
    width: 490px;
    height: 700px;
    float: left;
    background-size: cover;
    position: relative;
}

.textL {
    position: absolute;
    left: 428px;
    bottom: 70px;
    font-size: 57px;
    color: #464646;
}

.view1 {
    position: absolute;
    left: 440px;
    bottom: 50px;
    text-transform: uppercase;
}

.textR {
    position: absolute;
    left: 5px;
    top: 155px;
    font-size: 57px;
    color: #464646;
}

.view2 {
    position: absolute;
    left: 30px;
    top: 310px;
    text-transform: uppercase;
}


/* Content*/

.title {
    margin-bottom: 20px;
    font-size: 50px;
}

.sp,
.name,
.price,
.buy {
    width: 285px;
    margin-left: 20px;
    float: left;
}

.sp:first-child,
.name:first-child,
.price:first-child,
.buy:first-child {
    margin-left: 0;
}

.sp {
    overflow: hidden;
    margin-bottom: 20px;
}

.sp img:hover {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}

.name p {
    color: #464646;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.price {
    text-align: center;
    width: 285px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.price span {
    font-size: 25px;
}

.buy {
    text-align: center;
    margin-top: 5px;
}

.layer4 {
    margin-bottom: 20px;
}

.banner1 {
    width: 680px;
    height: 350px;
    margin-right: 20px;
    float: left;
    position: relative;
    background-repeat: no-repeat;
    margin-top: 30px;
}

.banner2 {
    width: 500px;
    height: 470px;
    float: left;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 30px;
}

.textL2 {
    position: absolute;
    left: 500px;
    bottom: 75px;
    font-size: 60px;
    color: #464646;
}

.view3 {
    position: absolute;
    left: 500px;
    bottom: 50px;
    text-transform: uppercase;
}

.textR2 {
    position: absolute;
    left: 355px;
    top: 155px;
    font-size: 60px;
    color: #464646;
}

.view4 {
    position: absolute;
    left: 365px;
    top: 305px;
    text-transform: uppercase;
}


/* Footer*/

.about {
    width: 400px;
    float: left;
}

.about.left {
    width: 70px;
    height: 38px;
    margin-top: 15px;
    margin-right: 20px;
    float: left;
}

.about,
.right {
    font-size: 16px;
    width: 250px;
    color: #464646fd;
    float: left;
}

.contact {
    width: 300px;
    float: left;
}

.contact p {
    font-size: 16px;
    margin-top: 15px;
    color: #464646fd;
}

.contact span {
    font-size: 22px;
    font-weight: bolder;
}

.link {
    width: 400px;
    float: left;
}

.link p {
    font-size: 16px;
    color: #464646fd;
    margin-top: 45px;
}